[submodule "AnchorLinkTransportSharp-Private"]
	path = AnchorLinkTransportSharp-Private
	url = https://github.com/liquiidio/AnchorLinkTransportSharp-Private
[submodule "EosioSigningRequestSharp-Private"]
	path = EosioSigningRequestSharp-Private
	url = https://github.com/liquiidio/EosioSigningRequestSharp-Private
[submodule "EosSharp-Private"]
	path = EosSharp-Private
	url = https://github.com/liquiidio/EosSharp-Private
