@import "../node_modules/gitbook-plugin-theme-gestalt/src/scss/variables";
@import "mixins";
// Put your variable overrides here
$book-background: rgb(8, 21, 51);
$page-background: rgb(8, 21, 51);
$sidebar-background: rgb(19, 8, 20);
$dropdown-button-color : darken($color-button, 15%) !default;
$sidebar-padding-unit : $spacing-unit ;
$sidebar-link-padding-h : 0.01;
$sidebar-nested-padding : $sidebar-padding-unit *5;
$sidebar-link-padding-v: $sidebar-padding-unit *2;
$sidebar-font-size : 0.9em ;


$color-primary : yellow;
$color-text: white;
$color-text-muted : rgb(8, 21, 51);
$color-gray-lightest :  rgb(8, 21, 51);
$color-headings : white;
$page-header-height : 60px;
$sidebar-link-map                   : ( 
                                        color: $color-text,
                                        font-family: $font-family-headings
                                    ) !default;

//font
$font-family-sans : Open Sans, sans-serif !default;
$font-family-headings : $font-family-sans;

//dropdown

.dropdown
{
    position: absolute;
}
.dropdown-caret
{
    position: absolute;
    top: -8px;
    left: 1px;
    width: 18px;
    height: 10px;
    float: left;
    overflow: hidden;
}
.dropdown .button 
{
    border: 0;
    background-color: transparent;
    color: $dropdown-button-color;
    width: 100%;
    float: left;
    line-height: $line-height-base;
   // padding: 0.5px 0.5px;
}
//table
$table-tr-map                       : (
                                        background-color:   rgb(8, 21, 51),
                                        border-top: 1px solid 
                                    ) !default;


$th-map                          :(
                                    background: rgb(8, 21, 51),
                                    padding: 10px
                                ) !default;
$td-map                         :(
                                    padding: 20px 10px
                                ) !default;
th {
    color: white;
    
    @include print( $th-map );
}

td {
    color: white;
    @include print( $td-map );
}

//logo
$sidebar-logo-height                : 300px !default;



.header-inner {
    
	width: 100%;
	padding: 10px 30px;
	border-bottom: 1px solid #dededede;
	margin: auto;
	*zoom: 1;
	height: $page-header-height;
	&:before {
		content: " ";
		display: table;
		line-height: 0;
	}
	&:after {
		content: " ";
		display: table;
		line-height: 0;
		clear: both;
	}
	.logo {
		float: left;
		height: 100px;
		width: 120px;
		background: url('./logo.png');
		background-size: 120px 300px;
		background-repeat: no-repeat;
		img {
			display: block;
			height: inherit;
			padding: 5px 0;
		}
  }
}
    

@import "../node_modules/gitbook-plugin-theme-gestalt/src/scss/all";
